# Resources required by the sample browser and most samples.
[Essential]
Zip=../media/packs/SdkTrays.zip
Zip=../media/packs/profiler.zip
FileSystem=../media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=../media
FileSystem=../media/fonts
cURL=http://localhost/

[General]
FileSystem=../media

